extends ../layouts/main-layout.pug

block content
  main
    section.jumbotron.jumbotron-fluid
      .container
        h1.display-4 #{pageTitle}
        hr.my-2
        p.lead Login and enojoy houndreds of amazing stories

    .row
      .col.col-sm-0.col-md-3
      .col.col-md-6
        if (errorMessage)
          p= errorMessage
        form(action='/signup', method='POST').login-form
          div
            label(for='email') E-Mail
            input(type='email',
              id='email',
              name='email',
              class=(validationErrors.find(e => e.param === 'email') ? 'invalid' : ''),
              value=(oldInput.email)
            ).form-control
          div
            label(for='password') Password
            input#password(type='password',
              name='password',
              class=(validationErrors.find(e => e.param === 'password') ? 'invalid' : ''),
              value=(oldInput.password)
              ).form-control
          div
            label(for='confirmPassword') Confirm Password
            input#confirmPassword(type='password',
              name='confirmPassword',
              class=(validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : ''),
              value=(oldInput.confirmPassword)
            ).form-control
          input(type='hidden', name='_csrf', value=(csrfToken))
          button.btn(type='submit') Signup

      .col.col-sm-0.col-md-3
