extends ../layouts/main-layout.pug

block content
  main
    section.container.text-center
      h1.my-3.my-md-4 #{pageTitle}
      p= user.email
      hr
      .row.text-muted
        .col-md-6.col-lg-3
          article.text-left
            h3.font-weight-light.mb-5 Your Audiobooks
            if (audiobooks.length > 0)
              each audiobook in audiobooks
                .border-left.pl-2.d-flex
                  p
                    span= audiobook.title
                  p.ml-auto
                    a(href=`/admin/edit-audiobook/${audiobook.id}?edit=true`, 
                  role='button').btn.btn-secondary.btn-sm Edit
            else
              p.border-left.pl-2 You've added no audiobooks
        .col-md-6.col-lg-3
          article.text-left
            h3.font-weight-light.mb-5 Your Cart
            if (cart.audiobooks.length > 0)
              .border-left.pl-2.d-flex
                p.mr-2 You have 
                  strong= cart.audiobooks.length 
                  span  item(s) in your cart
                p.ml-auto
                  a(href=('/cart')).btn.btn-warning.btn-sm See Cart    
            else
              p.border-left.pl-2 Your cart is empty
              
        .col-md-6.col-lg-3.ml-md-auto
          article.text-left
            h3.font-weight-light.mb-5 Your Orders
            if (orders.length > 0)
              .border-left.pl-2.d-flex
                p.mr-2 You've submitted 
                  strong= orders.length 
                  span  order(s).
                p.ml-auto
                  a(href=('/orders')).btn.btn-primary.btn-sm Orders   
            else
              p.border-left.pl-2 No orders placed yet

        .col-md-6.col-lg-3.ml-md-auto
          article.text-left
            h3.font-weight-light.mb-5 User Details
            .border-left.pl-2
              if (errorMessage)
                p= errorMessage
              p.d-flex.justify-content-between
                a(data-toggle='collapse', href='#collapse1', role='button', aria-expanded='false', aria-controls='collapse1') Password Change
              #collapse1.collapse
                form(action="/updatepassword", method="POST")
                  label Insert a new password
                  input#password(type='password',
                    name='password',
                    class=(validationErrors.find(e => e.param === 'password') ? 'invalid' : ''),
                    value=(oldInput.password)
                    ).form-control
                  label Confirm a new password
                  input#confirmPassword(type='password',
                    name='confirmPassword',
                    class=(validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : ''),
                    value=(oldInput.confirmPassword)
                    ).form-control
                  input(type='hidden', name='_csrf', value=(csrfToken))
                  input(type='hidden', name='userId', value=(user.id))
                  button(type="submit").btn.btn-primary.mt-3 Confirm new Password
