extends ../layouts/main-layout.pug

block content
  main
    .container
      .row.justify-content-center
        .col-8.col-sm-6.col-md-4.col-lg-3.my-2.my-lg-3
          article.card.article__card.text-center
            img(src=audiobook.imageUrl alt=audiobook.title).card-img-top
            .card-body
              h5.card-title #{audiobook.title}
              p.card-text #{audiobook.author}
              p.card-text #{audiobook.description}
              p.text-success.card-text #{audiobook.category}
              p
                strong.card-text £#{audiobook.price}
              form(action="/cart", method="POST")
                .btn-group.btn-group-sm(role="group")
                  a(href='/').btn.btn-secondary <- Return
                  if (isAuthenticated)
                    button(type="submit").btn.btn-primary Add to Cart
                    input(type="hidden", value=audiobook.id, name="audiobookId")
                input(type='hidden', name='_csrf', value=(csrfToken))