extends ../layouts/main-layout.pug

block content
  main
    section.jumbotron.jumbotron-fluid
      .container
        h1.display-4 #{pageTitle}
        hr.my-2
        p.lead by 
        strong #{audiobook.author}
    .container
      .row.justify-content-center
        .col-8.col-sm-6.col-md-4.col-lg-3.my-2.my-lg-3
          article.card.article__card.text-center
            img(src=(`/${audiobook.imageUrl}`) alt=audiobook.title).card-img-top
            .card-body
              h5.card-title #{audiobook.title}
              p.text-success.card-text #{audiobook.category}
              p
                strong.card-text £#{audiobook.price}
              form(action="/cart", method="POST")
                .btn-group.btn-group-sm(role="group")
                  if (isAuthenticated)
                    button(
                      class=(audiobook.bookOwner ? 'noselect' : ''),
                      type="submit",
                      disabled=(audiobook.bookOwner ? 'disabled' : false)
                      ).btn.btn-primary= (audiobook.bookOwner ? 'Purchased' : 'Add to Cart')
                    input(type="hidden", value=audiobook.id, name="audiobookId")
                input(type='hidden', name='_csrf', value=(csrfToken))
        .col-8.col-sm-6.col-md-4.col-lg-3.my-2.my-lg-3
          article.card.article__card.text-center
            .card-header Description
            .card-body
              p.card-text #{audiobook.description}