extends ../layouts/main-layout.pug

block content
  main
    section.jumbotron.jumbotron-fluid
      .container
        h1.display-4 #{pageTitle}
        hr.my-2
        p.lead Anytime, anywhere

    if (audiobooks.length > 0)  
      section.container
        h2.my-2.my-md-3 What's New
        .row.justify-content-center
          each newAudiobook in sortNewest
            .col-6.col-md-4.col-lg-3.col-xl-2.my-2.my-md-3
              article.card.article__card
                a(href=`/audiobooks/${newAudiobook.id}`, data-toggle="popover", title=newAudiobook.description, data-content=newAudiobook.description)
                  img(src=(`/${newAudiobook.imageUrl}`) alt=newAudiobook.title).card-img-top
                  .card-body
                    h6.card-title #{newAudiobook.title}
                    p.card-text.mb-2 #{newAudiobook.author}
                    .btn-group.btn-group-sm(role="group")
                      a(href=`/audiobooks/${newAudiobook.id}`).btn.btn-secondary Details

    if (audiobooks.length > 0)  
      section.container
        h2.my-2.my-md-3 Recommended
        .row.justify-content-center
          each audiobook in audiobooks
            .col-8.col-sm-6.col-md-4.col-lg-3.my-2.my-lg-3
              article.card.article__card.text-center
                img(src=(`/${audiobook.imageUrl}`) alt=audiobook.title).card-img-top
                .card-body
                  h5.card-title #{audiobook.title}
                  p.card-text #{audiobook.author}
                  p.card-text #{audiobook.description}
                  p.text-success.card-text #{audiobook.category}
                  p
                    strong.card-text £#{audiobook.price}
                  form(action="/cart", method="POST")
                    .btn-group.btn-group-sm(role="group")
                      a(href=`/audiobooks/${audiobook.id}`).btn.btn-secondary Details
                      if (isAuthenticated)
                        button(
                          class=(audiobook.bookOwner ? 'noselect' : ''),
                          type="submit",
                          disabled=(audiobook.bookOwner ? 'disabled' : false)
                          ).btn.btn-primary= (audiobook.bookOwner ? 'Purchased' : 'Add to Cart')
                        input(type="hidden", value=audiobook.id, name="audiobookId")
                    input(type='hidden', name='_csrf', value=(csrfToken))
    else
      section.container
        h2 No Products
